## write mseed to ascii

In [22]:
from obspy.core import read

path = '/home/andbro/Documents/ROMY/monobeams/monobeam_data/'
name = 'DROMY_FJV_2021-02-05.mseed'

stream = read(path+name+'.mseed')

stream.write(path+name+'.ascii', format='SLIST')

# subprocess.run(["sed" "-i" "'s/\t/,/g'" name], shell=True)

In [18]:
from pandas import read_csv

df = read_csv(path+'DROMY_F2V_2021-02-05.ascii', delimiter=",", header=1, names=['a','b','c','d','e','f'])
df

df.a.plot()

               a          b          c          d          e          f
0        1538992  1532874.0  1543392.0  1539510.0  1534948.0  1550675.0
1        1549459  1533894.0  1541234.0  1549473.0  1560315.0  1551692.0
2        1533113  1548100.0  1552083.0  1555246.0  1551535.0  1556117.0
3        1559373  1553162.0  1559675.0  1565626.0  1558703.0  1547214.0
4        1561731  1565809.0  1557354.0  1548422.0  1558164.0  1572870.0
...          ...        ...        ...        ...        ...        ...
2999995  1519339  1538143.0  1541319.0  1530482.0  1535138.0  1530047.0
2999996  1516016  1522325.0  1528186.0  1516530.0  1518023.0  1524254.0
2999997  1530578  1527158.0  1523905.0  1532186.0  1527559.0  1531503.0
2999998  1528072  1511890.0  1516027.0  1528368.0  1533316.0  1507845.0
2999999  1509357        NaN        NaN        NaN        NaN        NaN

[3000000 rows x 6 columns]